# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
tmp/pids/*
!tmp/pids/
tmp/cache/*
!tmp/cache/
tmp/sockets/*
!tmp/sockets/

# Ignore uploaded files in development.
storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials.yml.enc

# Ignore all local Environment files.
.env
.env.*

# Ignore secrets file.
/config/secrets.yml

# Ignore node_modules
/node_modules

# Ignore yarn error log
yarn-error.log

# Ignore Byebug command history file.
.byebug_history

# Ignore the result of running tests.
/coverage/
/spec/reports/

# Ignore system test files
/spec/system/tmp

# Ignore files created by debugging tools.
/.rdebug_history
.rspec_history

# Ignore local Rails files.
/public/assets
/public/packs
/public/packs-test
/public/system
/public/uploads

# Ignore Webpacker files
/node_modules
/public/packs
/public/packs-test
/tmp/cache/webpacker

# Ignore non-dockerized development files
docker-compose.override.yml

# Ignore Mac specific files
.DS_Store

# Ignore vim swap files
*.swp

# Ignore project-local tags
.tags
